<div class="main_upper">
  <div class="room_name">
    hogefuga
  </div>
  <div class="finish_chat">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="main_middle">
  <div class="chat_contents">
    <div class="chat_upper_contents" >
      <div class="chat_username">Tom</div>
      <div class="chat_date">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="chat_lower_contents" >
      <div class="chat_message">おはよう</div>
    </div>
  </div>
  <div class="chat_contents">
    <div class="chat_upper_contents" >
      <div class="chat_username">Sim</div>
      <div class="chat_date">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="chat_lower_contents" >
      <div class="chat_message">おはよう</div>
    </div>
  </div>
</div>
<div class="main_lower">
  <div class="new_message">
    <input class="type_message" placeholder="type a message" type="text">
    <label class="form_image">
      <span class="image_file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="send_btn" type="submit" value="送信">
</div>